<div class="property-card" *ngIf="propCard">
  
  <div class='property-card__card-wrapper' (click)="setActiveProperty(propCard)">
    <img [src]="propCard['thumbnail-url']"  />
    <div class="property-card__card-details">
      <dl>
          <dt>Address: </dt>
          <dd>{{ propCard['display-address'] }}</dd>
          <dt>Status:</dt>
          <dd>{{ propCard['listing-status'] }}</dd>
          <dt>Listing Price:</dt>
          <dd>{{ propCard['listing-price'] | currency }}</dd>
          <dt>Area:</dt>
          <dd>{{ propCard['square-feet'] | number }}(ft²)</dd>
      </dl>
    </div>
  </div>

</div>